*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "roboto", sans-serif;
}

body{
    background-color: #f0f0f0;
}
.container{
    width: 100%;
    margin: 0 auto;
    max-width: 1024px;
}

header .container, footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header, footer {
    background-color: rgb(33, 162, 248);
}

header {
    padding: 1rem;
}

footer {
    background-color: rgb(33, 162, 248);
    color: #fff;
    display: flex;
    padding: 1rem;
    text-align: center;
   }

.container h1 {
    margin-left: 56px;
    color: white;
}
.container ul {
    list-style: none;
    margin-right: 40px;
}

.container ul li {
    display: inline;
}

.container ul li a {
    text-decoration: none;
    font-size: 1.1em;
    margin-right: 16px;
    color: white;
    font-weight: bold;
}
   
   .sobre-loja {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 0;
   }
   
   .sobre-img {
    flex: 1;
    margin-right: 5rem;
   }
   
   .sobre-img img {
    width: 120%;
    border: none;
    max-width: 200%;
   }
   
   .sobre-texto {
    flex: 2;
   }
   
   .sobre-texto h2 {
    margin-bottom: 0.8rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid rgb(33, 162, 248);
    color: rgb(33, 162, 248);
    font-style: italic;
   }
   
   .sobre-texto h3 {
    margin-bottom: 1rem;
    color: #777;
    text-align: justify;
   }
   

   .product-card > h2 {
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid rgb(33, 162, 248);
    color: rgb(33, 162, 248);
    font-style: italic;
   }

  .produtos {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 5em;

  }
  .product-card {
    width: 25%;
    margin-bottom: 20px;
  }
  .product-card > h2 {
    text-align: center;
  }
  .product-card > h3 {
    text-align: justify;
  }
  .product-card img {
    max-width: 100%;
    height: auto;
  }

  .titulo h2 {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid rgb(33, 162, 248);
    color: rgb(33, 162, 248);
    font-style: italic;
    width: 100%;
  }

  .produto {
    max-width: 100%;
}

.produto img {
    max-width: 100%;
    width: 100%;
}

.produto h3 {
   text-align: center;
}

.produtos {
    display: grid;
    grid-template-columns: repeat(4, 24.5%);
    column-gap: 1%;
    row-gap: 5%;
}

   button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
    cursor: pointer;
    width: 100%;
   }
   
   button:hover {
    background-color: #444;
   }
   
   
   @media screen and (max-width: 767px) {

    header .container, footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .container h1 {
        color: white;
    }
    .container ul {
        list-style: none;
    }
    
    .container ul li {
        display: inline;
    }
    
    .container ul li a {
        text-decoration: none;
        font-size: 1.1em;
        color: white;
        font-weight: bold;
    }

    .sobre-loja {
        display: block;
       }
       
       .sobre-img {
        margin-bottom: 1rem;
       }
       
       .sobre-img img {
        width: 100%;
        max-width: 100%;
        margin: 0 2.5rem;
       }
              
       .sobre-texto h2 {
        margin-bottom: 0.8rem;
        padding-bottom: 1rem;
        border-bottom: 2px solid rgb(33, 162, 248);
        color: rgb(33, 162, 248);
        font-style: italic;
       }
       
       .sobre-texto h3 {
        margin-bottom: 1rem;
        color: #777;
        text-align: justify;
       }
       

    .container {
        max-width: 90%;
    }

    .produto a {
        display: block;
        font-size: 1.5em;
        text-decoration: none;
    }
    .produto img {
        margin: 2rem;
        width: 90%;
    }

    .produtos {
        display: block;
    }

    .produtos h2 {
        margin-bottom: 0.8rem;
        padding-bottom: 1rem;
        border-bottom: 2px solid rgb(33, 162, 248);
        color: rgb(33, 162, 248);
        font-style: italic;
    }

    .produtos h3 {
        font-size: 0.7em;
        text-align:center;
    }

    .produtos .produto {
        margin-bottom: 32px;
    }

    header div.container {
    flex-direction: column;
    }

    .submenu {
        display: block;
        width: 100%;
        position: relative;
        border: none;
    }
    
    .menu {
        display: none;
    }

    .menu > li {
      clear: both;
    }  
    .submenu li {
        display: block;
        padding: 8px;
    }
    .botao-menu {
display: flex;
justify-content: center;
margin-top: 16px;
padding-bottom: 16px;
    }

    .botao-menu button {
        padding: 8px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .container {
        max-width: 90%;
    }

    .botao-menu {
        display: none;
    }
    .destaque .produto a {
        font-size: 1.5em;
    }
    
    .produtos {
        grid-template-columns: repeat(2, 49%);
    }
}

@media screen and (min-width: 1024px) {
    .botao-menu {
        display: none;
    }
}