*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "roboto", sans-serif;
}

body{
    background-color: #f0f0f0;
}
.container{
    width: 100%;
    margin: 0 auto;
    max-width: 1024px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header, footer {
    background-color: rgb(33, 162, 248);
}

header {
    padding: 1rem;
}

footer {
    color: #fff;
    padding: 1rem;
    text-align: center;
    margin: 0;
   }

.container h1 {
    margin-left: 56px;
    color: white;
}
.container ul {
    list-style: none;
    margin-right: 40px;
}

.container ul li {
    display: inline;
}

.container ul li a {
    text-decoration: none;
    font-size: 1.1em;
    margin-right: 16px;
    color: white;
    font-weight: bold;
}
   
   .sobre-loja {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 0;
   }
   
   .sobre-img {
    flex: 1;
    margin-right: 5rem;
   }
   
   .sobre-img img {
    width: 100%;
    border: none;
    max-width: 100%;
   }
   
   .sobre-texto {
    flex: 2;
   }
   
   .sobre-texto h2 {
    margin-bottom: 0.8rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid rgb(33, 162, 248);
    color: rgb(33, 162, 248);
    font-style: italic;
   }
   
   .sobre-texto h3 {
    margin-bottom: 1rem;
    color: #777;
    text-align: justify;
   }
   

  .produtos {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 5em;

  }
 
  .titulo h2 {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid rgb(33, 162, 248);
    color: rgb(33, 162, 248);
    font-style: italic;
    width: 100%;
  }

  .produto {
    max-width: 100%;
}

.produto img {
    max-width: 100%;
    width: 100%;
    height: 60%;
}

.produto h3 {
   text-align: center;
   text-decoration: none;
}
.produto p {
    text-align: center;
    text-decoration: none;
    color: black;
 }
 .produto a {
    text-decoration: none;
    color: black;
}

.produtos {
    display: grid;
    grid-template-columns: repeat(4, 24.5%);
    column-gap: 1%;
    row-gap: 5%;
}

   button {
    background-color: rgb(33, 162, 248);
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
    cursor: pointer;
    width: 100%;
   }
   
   button:hover {
    background-color: rgb(77, 181, 250);
   }
      
   @media screen and (max-width: 767px) {
    
    header {
        display: flex;
    }
    .container ul li {
    display: block;
    position: relative;
    margin-left: 20em;
    margin-bottom: 0.7em;
    margin-top: 0.5em;
}

.container h1 {
    position: absolute;
    align-self: flex-start;
    margin-top: 0.5em;
}

    .sobre-loja {
        display: block;
    }
       
    .sobre-img {
        margin-bottom: 1rem;
        margin-left: 0.6em;
    }
       
    .sobre-img img {
        width: 100%;
        max-width: 100%;
        margin: 0 2.5rem;
    }
              
    .sobre-texto h2 {
        margin-bottom: 0.8rem;
        padding-bottom: 1rem;
        border-bottom: 2px solid rgb(33, 162, 248);
        color: rgb(33, 162, 248);
        font-style: italic;
        border-width: 100%;
        margin: 1em;
    }
       
       .sobre-texto h3 {
        margin-bottom: 2em;
        color: #777;
        text-align: justify;
        margin: 1.2em;
       }
       

    .container {
        max-width: 100%;
        overflow-x: hidden;
    }

    .produto a {
        display: block;
        font-size: 1.5em;
        text-decoration: none;
    }
    .produto img {
        margin: 5.8rem;
        width: 70%;
        margin: 4em;
    }

    .produtos {
        display: block;
    }

    .produto p {
        text-align: center;
        text-decoration: none;
        margin: 2em;
     }

    .titulo h2 {
        max-width: 92%;
        margin: 1em;
    }

    .produtos .produto {
        margin-bottom: 32px;
    }

    button {
        width: 70%;
        padding: 1em 0;
        margin-left: 6.3em;
        font-size: medium;
    }

    header div.container {
    flex-direction: column;
    }

   }
@media screen and (min-width: 768px) and (max-width: 1023px){
    .container {
        max-width: 95%;
        margin: 2em;
        display: flex;
    }

   header .container{
    margin: 1em;
   }

    .sobre-loja {
        display: block;
    }
       
    .sobre-img {
        margin-bottom: 1rem;
        margin-left: 0.6em;
    }
       
    .sobre-img img {
        width: 100%;
        max-width: 100%;
        margin: 0 2.5rem;
    }

    .sobre-texto h2 {
        margin-bottom: 0.8rem;
        padding-bottom: 1rem;
        border-bottom: 2px solid rgb(33, 162, 248);
        color: rgb(33, 162, 248);
        font-style: italic;
        border-width: 100%;
        margin: 1em;
    }
       
       .sobre-texto h3 {
        margin-bottom: 2em;
        color: #777;
        text-align: justify;
        margin: 1.2em;
       }
    
    .produtos {
        grid-template-columns: repeat(2, 49%);
        margin: 2em;
    }

    .titulo {
        margin-left: -0.5em;
        margin-right: -0.9em;
    }

    .footer {
    display: flex;
    text-align: center;
    justify-content: center;
    }
}